.profilemain {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 351px;
}

.profilestyle {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: "222px";
  height: "222px";
}
.mainForProfile {
  display: flex;
  flex-direction: row;
  box-shadow: none;
  margin-bottom: 30px;
  border: 1px solid #d1d6e6;
  background: #fff;
}
.showinfo {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
.fontdesign {
  font-family: cursive;
  font-variant: common-ligatures;
}
.historylogintitle {
  font-style: italic;
  font-family: cursive;
  font-variant: common-ligatures;
}
